# Ambientes virtuais
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc

#planning
*.md
.planning/
.claude/

# Configurações do VS Code
.vscode/

# Arquivos de testes
tests/

# Configuração do app (contém senha do OBS WebSocket e paths locais)
config.json
